<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>








  <div class="row">
    <div class="column">
      <form>
        <div class="container">
          <label for="uname"><b>License Number</b></label>
          <input type="text" placeholder="Enter License Number" name="uname" required>
          <button type="submit">Scan</button>
          <label for="psw"><b>NIC No</b></label>
          <input type="password" placeholder="Enter NIC No." name="psw" required>

          <label for="psw"><b>Name</b></label>
          <input type="password" placeholder="Enter Name" name="psw" required>

          <label for="psw"><b>License Type</b></label>
          <input type="password" placeholder="Enter License Type" name="psw" required>
          <label for="psw"><b>Old Records</b></label>
          <input type="password" placeholder="Enter Old Records" name="psw" required>



        </div>



        </form>
    </div>

    <div class="column">
      <form>
        <div class="container">
          <label for="uname"><b>Vechile Number</b></label>
          <input type="text" placeholder="Enter Vechile Number" name="uname" required>
          <button type="submit">Camera</button>


          <label for="psw"><b>Date</b></label>
          <input type="password" placeholder="Enter Date" name="psw" required>
          <button type="submit">Location</button>
          <button type="submit">Choose Images</button>
          <button type="submit">Choose Videos</button>
          <button type="button" class="cancelbtn">OK</button>
        </div>


        </form>
    </div>
  </div>


</html>

